body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
    text-align: center;
}

header {
    background-color: #1f3c88;
    color: white;
    padding: 20px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 40px;
    flex-wrap: wrap;
}

.card {
    background: white;
    padding: 20px;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
}

.card img {
    width: 100%;
    border-radius: 10px;
}

.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #1f3c88;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: #163172;
}

.project img {
    width: 80%;
    margin-top: 30px;
    border-radius: 10px;
}

.back {
    color: white;
    text-decoration: none;
    display: block;
    margin-top: 10px;
}
